/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

/* Navbar styles */
.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #4800ff;
    background-image: linear-gradient(to top, #0026ff 0%, #ffb1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    color: transparent;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #0026ff;
    color: #fff;
}

.button:hover {
    background: #ff0000;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #ff0000;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #0026ff;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
}

/* Main section styles */
.main {
    background-color: #7BA7D9;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #7BA7D9;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__container h1 {
    font-size: 4rem;
    background-color: #fff;
    background-image: linear-gradient(to top, #0026ff 0%, #0026ff 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__container h2 {
    font-size: 4rem;
    background-color: #fff;
    background-image: linear-gradient(to top, #0026ff 0%, #0026ff 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top,#0026ff 0%,#0026ff 100% );
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color:#fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top:0;
    left:0;
    width:0;
    height:100%;
    background:#000000;
    transition: all 0.3s;
    border-radius: 4px;
}

.mian__btn:hover{
    color:#fff;
}

.main__btn:hover:after{
    width:100%
}

.main__img--container{
    text-align:center;
}

#main__img{
    height:80%;
    width:80%;
}

/*mobile responsive */
@media  screen and (max-width:768px) {
    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items:center;
        justify-self:center;
        width:100%;
        margin:0 auto;
        height:90vh;
    }
    
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size:2.5rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size:3rem;
    }

    .main__content p{
        margin-top:1rem;
        font-size:1.5rem;
    }
}

@media screen and (max-width:480px){
    .main__content h1{
        font-size:2rem;
        margin-top: 3rem;
    }

    .main__content h2{
        font-size:2rem;
    }

    .main__content p{
        margin-top:2rem;
        font-size:1.5rem;
    }

    .main__btn{
        padding:12px 36px;
        margin:2.5rem 0;
    }
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color:#7BA7D9;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjust to center vertically */
}

.login-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    color: #0026ff;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0026ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0F1C8F;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #0026ff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    border-bottom: 1px solid #7aafe9;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #7ba7d9;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 5px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
    border-radius: 4px;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

.add-category {
    margin-top: 20px;
    text-align: center;
}

.add-category button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.add-category span {
    display: block;
    margin-bottom: 10px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content #addCategoryForm {
    display: none;
    text-align: center;
}

.content input {
    padding: 10px;
    margin: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.content .submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.content .submit-button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}
